body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f2eac5;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#7acc7a;
	border-bottom:#F0DFBC 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;
}

.main-header{
			text-align:center;
			background-color: cyan;
			height:100px;
			width:100%;
			margin:0px;
		}

header h2{
	text-align:center;
	color:#fff;

}



.btn-info {background-color: #7acc7a;
	height:40px;
	width:100px;}
.btn-info:hover {background-color: #5b995b;}


.results{
	border-radius: 15px 50px;
    background: #7acc7a;
    padding: 20px;A
    width: 200px;
    height: 150px;
}